* {
  margin: 0;
  padding: 0;
}

html {
}

header {
  display: flex;
  align-items: center;
  /* background-color: rgb(0, 0, 0, 0.8); */
  background-color: rgba(255, 255, 255, 0.9);
}

section {
  /* background-color: green; */
  /* border: solid 1px black; */
  flex: 1;
  display: flex;
  /* color: rgba(225, 222, 222, 1); */
  /* color: red; */
  margin: 15px 0;
}

.title {
  /* display: flex; */
  /* align-items: center;
  flex-direction: column;
  margin-right: auto; */
  padding: 0 20px;
  font-size: 35px;
  /* border: solid 1px black; */
}

.logo {
  /* border: solid 5px rgba(225, 222, 222, 1); */
  border: solid 3px black;
  border-radius: 5px;
  flex: 0;
}

.bulls-logo {
  flex: 1;
  text-align: center;
}

.img-bull-logo {
  width: 2.5vw;
  min-width: 35px;
  cursor: pointer;
}

.play-again {
  font-size: 12px;
  cursor: pointer;
}

.img-dunk-logo {
  /* border: solid 1px blue; */
  /* width: 5vw; */
  /* width: 20%; */
  width: 2.5vw;
  min-width: 35px;
  /* filter: invert(1); */
  padding-bottom: 5px;
}

.rules {
  /* border: solid 1px black; */
  flex: 1;
  text-align: center;
  font-size: 26px;
}

.rules:hover {
  color: #ba2d31;
  cursor: pointer;
}

body {
  background: url('fans_bg.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Roboto Slab', serif;
}

.mj-basket-bg {
  min-height: 100vh;
  background: url('athlete-drawing-michael-jordan-4.png'),
    url('basketball_rim_no_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 160% -5%, -5% 5%;
  background-size: 50%, 20%;
  background-color: rgba(196, 196, 196, 0.7);
  background-blend-mode: screen;
}

main {
  /* background-color: mistyrose; */
  width: 70%;
  margin: auto;
  /* font-family: sans-serif; */
}

.game-container {
  display: flex;
  height: 75vh;
  padding: 5% 5% 5%;
  /* width: 100%;
  height: 100%; */
  align-items: center;
  /* background-color: aqua; */

  /* flex: 1; */
}

.game-container > * {
  /* flex: 1 100%; */
}

.letters-and-guessword {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* width: 50%; */
  height: 100%;
  width: 100%;
  /* margin: 5% 2.5% 5% 5%; */
  margin-right: 2.5%;
  border: 0.5rem solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.8);
  /* padding: 5%; */
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

.letters-and-guessword::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.letters-and-guessword::-webkit-scrollbar {
  width: 2%;
  background-color: #f5f5f5;
}

.letters-and-guessword::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff7d7d;
}

.letters-and-guessword::-webkit-scrollbar-thumb:hover {
  background-color: #ba2d31;
}

.shots {
  font-family: 'Arvo', serif;
  padding: 5% 0 0;
  font-size: 2.5vw;
  text-align: center;
}

.count {
  padding: 0 0 5%;
}

.red {
  color: #d53338;
  animation: flash 1s;
}

.row {
  /* width: 100%; */
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  margin: 0 auto;
  /* border: solid 2px red; */
  /* align-items: center; */
  justify-content: center;
}

.row > * {
  /* flex: 1 100%; */
}

.row .letter:first-of-type {
  /* margin-left: 0; */
}

.letter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  width: 3vw;
  margin-left: 2%;
  font-size: 2vw;
  border-radius: 0.5rem;
  border: 0.2rem solid #ba2d31;
  margin-bottom: 2%;
  color: white;
  background-color: #d53338;
  background-image: linear-gradient(to bottom right, #ff7d7d 0%, #d53338 100%);
}

.letter:hover {
  box-shadow: 0 2px 4px 0 rgba(36, 36, 36, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.letter:active {
  animation: mousedown 1s infinite;
}

@keyframes mousedown {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.95);
  }
}

.clicked {
  border: 0.2rem solid #999999;
  background-color: #cccccc;
  background-image: linear-gradient(to bottom right, #cccccc 0%, #bfbfbf 100%);
  color: #666666;
  animation: scale 0.1s;
  opacity: 0.7;
}

@keyframes scale {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.guess-word-section {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: solid; */
  text-align: center;
}

.guess-title {
  margin-top: 5%;
  font-size: 2vw;
}

.word {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 2vh 0;
  font-size: 2.5vw;
  /* font-size: 2.5vw; */
  /* border: solid 2px red; */
}

.guess-letter-char {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-bottom: 2px solid #d53338;
  height: 2.5vw;
  width: 2.5vw;
}

.guess-letter-char > span {
  /* animation: flash linear 1s; */
  /* color: green; */
  /* font-size: 50px; */
  /* animation-name: blinker; */
  /* animation-duration: 1s; */
  animation: flash 1s;
}

.video-container {
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
  /* height: 50vh; */
  /* width: 50%; */
  overflow: hidden;
  position: relative;
  border: 0.5rem solid rgba(244, 65, 51, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin: 5% 5% 5% 2.5%; */
  margin-left: 2.5%;
  border-radius: 1rem;
  /* padding: 5%; */
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .game-container {
    height: 70vh;
  }

  main {
    width: 80%;
  }

  .letters-and-guessword {
    width: 80%;
  }
}

@media (max-width: 1245px) {
  main {
    width: 85%;
  }

  .letters-and-guessword {
    width: 65%;
  }
}

/* @media (max-width: 650px) {
  main {
    width: 80%;
  }
} */

@media (max-width: 950px) {
  main {
    width: 95%;
  }

  .letters-and-guessword {
    height: 70%;
  }

  .video-container {
    height: 70%;
  }
}

@media (max-width: 768px) {
  main {
    width: 95%;
  }

  .game-container {
    /* flex-direction: column; */
  }

  .letters-and-guessword {
    height: 70%;
    width: 60%;
  }

  .video-container {
    height: 70%;
  }
}

@media (max-width: 650px) {
  main {
    width: 95%;
  }

  .game-container {
    flex-direction: column-reverse;
    height: 85vh;
  }

  .letters-and-guessword {
    height: 90%;
    width: 85%;
    margin: 5% 0 0 0;
  }

  .shots {
    padding: 0 0 5%;
    font-size: 4vw;
  }

  .letter {
    height: 6vw;
    width: 8vw;
    font-size: 3.5vw;
  }

  .guess-title {
    font-size: 4vw;
  }

  .word {
    font-size: 4vw;
    margin: 1vh 0 0;
  }

  .guess-letter-char {
    height: 4vw;
    width: 4vw;
  }

  .video-container {
    height: 70%;
    width: 85%;
    margin: 0;
  }
}
